# Virtual environments
venv/
venv_paddle/

# Python
__pycache__/
*.pyc
*.pyo

# ML models & repos (large files - download separately)
swinir_repo/
swinir_weights.pth
docscanner_repo/
bedsr_repo/
models/

# OS
.DS_Store

# TAIR
tair_repo/
venv_tair/
